form {

	fieldset {
		border: none;
		padding: 0;
	}

	legend {

	}

	ol {
		@include clearfix;
		
		li {
			@include clearfix;
			margin-bottom: $spacing-base;
		}
	}
}

button {
	background: none;
	border: none;
	padding: 0;
}
